.form_container{
    width: 718px;
    height: 80vh;
    margin-top: 76px;
    margin-left: 90px;
    display: flex;
    }
    
    /* .main {
        padding: 5%;
        text-align: center;
        display: grid;
      justify-content: center;
      width: 903px;
      height: 821px;
      flex-shrink: 0;
      background-color: #F5F5F5;
      } */
      
      input {
        padding: 1%;
        width: 50%;
        margin: 1% 2%;
      }
      
      button {
        font-weight: bold;
        background: red;
        border: none;
        color: white;
        padding: 1%;
      }
      .enquiry{
        width: 716px;
      height: 150px;
      flex-shrink: 0;
      padding-right: auto;
      border-radius: 8px 8px 0px 0px;
      background: var(--blue-15, rgba(26, 143, 230, 0.15));
      }
      .enquiry h1 name{
        display: flex;
        
      }